
<style>
.setHeight {
  height: 34px;
}

.button{
    width: 153px;
    height: 34px;
    margin-left: 7.5px;
    margin-top: 10px;
    font-size: medium;

}

</style>
<style>
    .main {
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }
  </style>



<div ngClass="row cols main">
    <div>
    <form class="col" >
        <label for="power"> Total</label>
        <input [(ngModel)]="power" type="number" placeholder="0" class="form-control " id="power" name="power" #totalInput="ngModel" min="0" required>
    </form>
    <div class='alert alert-danger' *ngIf="totalInput.touched && !totalInput.valid">
      You need to pick a valid total
    </div>

    </div>


    <form class="col">
    <label for="power"> From currency</label>
    <select class="form-select setHeight" id="power" #from required>
    <option *ngFor="let fromcurr of currencies" [value]="fromcurr">{{fromcurr}}</option>
    </select>
    </form>

    <form class="col">
    <label for="power"> To currency</label>
    <select ngClass="form-select setHeight" id="power" #to required>
    <option *ngFor="let toCurr of cryptos" [value]="toCurr">{{toCurr}}</option>
    </select>
    </form>


     <p>
       
      <button type="button" style="margin-top: 10px; "class="btn btn-primary" (click)="getValues(totalInput.value, from.value, to.value)" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        Convert
      </button>
    </p>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="card">
        <div class="card-body">
          {{total}} {{to.value}}
        </div>
      </div>
    </div>
    
    
</div>



