<style>
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
</style>

<div class="content" role="main">

  <div class="card-container row h-200 p-5 bg-light border rounded-10">
    <button type="button" class="btn btn-primary" (click)="method('BTC,ETH','EUR,USD')">
      Test API callknapp 
    </button>
  </div>

  <form>
    Incredibly basic implementation so far, trying to make it actually work before making it look better
    <div class="form-group">
      <label for="startDate">Select start date</label>
      <input [(ngModel)]="startDate" name="startDate" id="startDate" type="date" />
    </div>
    <div class="form-group">
      <label for="endDate">Select end date</label>
      <input [(ngModel)]="endDate" name="endDate" id="endDate" type="date" />
    </div>
    <div class="form-group">
      <label for="base">Select base currency</label>
      <select [(ngModel)]="base" name="base" className="form-select" id="base">
        <option *ngFor="let curr of currencies" value={{curr}}>{{curr}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="symbols">Select currencies to be compared</label>
      <select [(ngModel)]="symbols" name="symbols" className='form-select' id="symbols" multiple>
        <option *ngFor="let curr of currencies" value={{curr}}>{{curr}}</option>
      </select>
    </div>
    <input className="btn btn-primary" type="submit" value="Submit"/>
  </form>
</div>