<style>
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
</style>

<div class="content" role="main">
  <div class="card-container row h-200 p-5 bg-light border rounded-10">
    <button type="button" class="btn btn-primary" (click)="get_historic_rates('BTC','USD', '2020.01.01', '2022.01.01')">
      Test API callknapp
    </button>
  </div>

  <form>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Select start date</mat-label>
        <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" name="startDate" />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Select end date</mat-label>
        <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate" name="endDate" />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-label>Select base currency</mat-label>
          <mat-select [(value)]="base">
            <mat-option *ngFor="let curr of currencies" [value]="curr">{{curr}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-label>Select other currencies</mat-label>
          <mat-select multiple [(ngModel)]="symbols" name="symbols">
            <mat-option *ngFor="let curr of cryptos" value={{curr}}>{{curr}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>