<!-- Resources -->

<style>
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  

</style>

<div class="content" role="main">
<h2>Welcome to Your Exchange Center</h2>
<p>Click one of the tabs below:</p>

<div class="card-container row h-200 p-5 bg-light border rounded-10">

    <button type="button" class="btn btn-primary" (click)="method('')">Test API call knapp</button>

</div>
</div>